[Unit]
Description=Service to provision linecards
Before=platform-arista-linecard.service
PartOf=platform-arista.target
ConditionKernelCommandLine=Aboot
ConditionKernelCommandLine=sonic.mode=supervisor

[Service]
Type=simple
ExecStart=/usr/bin/arista-chassis-provision

[Install]
RequiredBy=platform-arista.target
