[Unit]
Description=Arista early linecard config hack
After=local-fs.target
Before=platform-arista-swss.service
PartOf=platform-arista.target
ConditionKernelCommandLine=Aboot

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart=/usr/bin/arista-linecard-config

[Install]
RequiredBy=platform-arista.target
